.home-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 30px;
  max-width: 80vw;
  margin: 0 auto;
}

form {
  font-family: "Poppins", sans-serif;
}

.home-wrapper form {
  padding: 20px;
}

.home-heading {
  text-align: center;
  margin-bottom: 25px;
}

.editor {
  height: 300px;
}

.sample {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: rgb(109, 112, 112);
  word-spacing: 1px;
  font-weight: 300;
}
