.stats-wrapper {
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-heading {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Poppins";
  border-bottom: 1px solid #333;
  font-weight: 200;
  margin-bottom: 35px;
}

.stats-chart {
  width: 85vw;
}

.stats-cont {
  width: 950px;
  height: 600px;
}

@media screen and (max-width: 1000px) {
  .stats-cont {
    width: 800px;
  }
}

@media screen and (max-width: 500px) {
  .stats-heading {
    font-size: 23px;
  }
}
